html, body {
  background-color: #2E2E2E;
}

body {
  font: 22px "Inter", sans-serif;
  margin: 0;
  overflow: hidden;
}

#ui {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#status {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 80px;
  width: 100%;
}

#paused {
  position: absolute;
  display: none;
  flex-direction: row;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #d91b67;
}

#ui:not(:focus) {
  background-color: #d91b67;
}

#ui:not(:focus) #paused {
  display: flex;
}

#ui:not(:focus) #ship {
  display: none;
}

#loom {
  height: 360px;
  width: 720px;
  display: none;
}

#ship {
  object-fit: contain;
}

#loading {
  background-color: #2E2E2E;
  position: absolute;
  top: 80px;
  width: 720px;
  height: 360px;
  display: none;
  flex-direction: column;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


#loading .planet {
  height: 64px;
  width: 64px;
}

#planet-overlay {
  width: 32px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 16px;
}