body {
  font: 22px "Inter", sans-serif;
  margin: 0;
}

#ui {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 0px 20px;
  user-select: none;
}

#paused {
  display: none;
  flex-direction: column;
  line-height: 1.4em;
  font-size: 18px;
  text-align: center;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
}

#paused #title {
  font-size: 18px;
  font-weight: bold;
}

#ui:not(:focus) {
  border: 3px solid #FAA1A1;
}

#ui:not(:focus) #paused {
  display: flex;
}

#ui:not(:focus) #ship {
  display: none;
}

#loom {
  height: 300px;
  width: 400px;
  border: 1px solid black;
}

#planetImg {
  height: 64px;
  width: 64px;
}

#ship {
  object-fit: contain;
}